:80 {
	basicauth {
		# Generate hash with: docker run --rm caddy:2-alpine caddy hash-password --plaintext 'yourpassword'
		# Set BRSSP_USER and BRSSP_PASSWORD_HASH in .env
		{$BRSSP_USER} {$BRSSP_PASSWORD_HASH}
	}

	reverse_proxy brssp.security.science:8332 {
		transport http {
			tls
			tls_server_name brssp.security.science
			tls_client_auth /certs/client.crt /certs/client.key
			tls_trusted_ca_certs /certs/server_ca.pem
		}
	}
}
